<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title> compareplace</title>
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500,700,900|Material+Icons">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css">
	<meta id="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

</head>

<body>
	<div id="app">
		<v-app>
			<v-content>

				<v-container fluid grid-list-md>

					<!-- title ------------------------------------------ -->
					<v-layout justify-center>
						<v-flex xs12>
							<div class="title_text display-4">
								<span class="text_red">compa</span><span class="text_perple">re</span><span
									class="text_blue">place</span>
							</div>
						</v-flex>
					</v-layout>

					<v-layout justify-center>
						<v-flex xs10>
								<br>
							置換後の結果はブラウザに保存されます。<br>
							ブラウザを更新すると続けて置換できます。
						</v-flex>
					</v-layout>


					<v-layout row wrap justify-center :class="{'sticky': position > 0}">
						<!-- switch mode ------------------------------------------ -->
						<v-flex xs5>
							<v-card flat dark :class="classAplly(1)" v-on:click="changeMode(1)">
								<v-card-text>正規表現なし置換</v-card-text>
							</v-card>
						</v-flex>
						<v-flex xs5>
							<v-card flat dark :class="classAplly(2)" v-on:click="changeMode(2)">
								<v-card-text>正規表現あり置換</v-card-text>
							</v-card>
						</v-flex>

						<!-- keyword area ------------------------------------------ -->
						<v-flex xs5>
							<v-textarea auto-grow :rows="keyword_rowHeight" v-on:keyup="controlReplace"
								v-model="pre_keyword" v-on:keydown.tab.prevent="insertTab('pre_keyword')"
								background-color="font_mono bg_pink_keyword" placeholder="置換前文字列"
								color="green">
							</v-textarea>
						</v-flex>
						<v-flex xs5>
							<v-textarea auto-grow :rows="keyword_rowHeight" v-on:keyup="controlReplace"
								v-model="pos_keyword" v-on:keydown.tab.prevent="insertTab('pos_keyword')"
								background-color="font_mono bg_aqua_keyword" placeholder="置換後文字列"
								color="yellow">
							</v-textarea>
						</v-flex>
					</v-layout>

					<!-- replace area ------------------------------------------ -->
					<v-layout row wrap justify-center class="z_index_txtBody">
						<v-flex xs5>
							<v-textarea :rows="txtBody_rowHeight" auto-grow background-color="font_mono bg_pink"
								v-model="pre_txtbody" placeholder="変更前テキスト"
								v-on:keydown.tab.prevent="insertTab('pre_txtbody')" v-on:keyup="controlReplace"
								color="green">
							</v-textarea>
						</v-flex>
						<v-flex xs5>
							<v-textarea :rows="txtBody_rowHeight" auto-grow background-color="font_mono bg_aqua"
								v-model="pos_txtbody" placeholder="変更後テキスト" readonly
								color="yellow">
							</v-textarea>
						</v-flex>
					</v-layout>

				</v-container>
			</v-content>
		</v-app>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
	<link rel="stylesheet" href="compareplace-0.3.css">

	<script>
		var app1 = new Vue({
			el: '#app',
			data: {
				position: null,
				pre_keyword: '',
				pos_keyword: '',
				pre_txtbody: '',
				pos_txtbody: '',
				replace_mode: 1,
				keyword_rowHeight: 2,
				txtBody_rowHeight: 30,
			},
			mounted() {
				window.addEventListener('scroll', this.handleScroll);
				this.pre_txtbody = localStorage.getItem("compareplace");
			},

			methods: {
				handleScroll() {
					this.position = document.documentElement.scrollTop || document.body.scrollTop;
				},

				insertTab(target) {
					// let tabchar = "\t"
					// if (target === "pre_keyword") {
					// 	this.pre_keyword = this.pre_keyword + tabchar;
					// } else if (target === "pos_keyword") {
					// 	this.pos_keyword = this.pos_keyword + tabchar;
					// } else if (target === "pre_txtbody") {
					// 	this.pos_keyword = this.pos_keyword + tabchar;
					// }
				},

				controlReplace() {
					if (this.pre_keyword != "") {
						let pre_keyword = this.pre_keyword;
						let pos_keyword = this.pos_keyword;
						let pre_txtbody = this.pre_txtbody;

						switch (this.replace_mode) {
							case 1:
								this.pos_txtbody = pre_txtbody.split(pre_keyword).join(pos_keyword);
								localStorage.setItem("compareplace", this.pos_txtbody);
								break;
							case 2:
								this.pos_txtbody = pre_txtbody.replace(new RegExp(pre_keyword, "g"), pos_keyword);
								localStorage.setItem("compareplace", this.pos_txtbody);
								break;
						}
					}
				},

				classAplly(select) {
					let one = select;
					let two = this.replace_mode;
					let applyColor = one === two ? "purple lighten-3" : "grey";
					return applyColor;
				},

				changeMode(select) {
					this.replace_mode = select;
					this.controlReplace();
				},

			}
		})
	</script>
</body>

</html>